.dormNav {
    overflow: auto;
    flex-grow: 5;
    height: 99%;
}

img.floorplan {
    width: 80%;
    margin: 0 auto;
    /* height: 100%; */
    float: left;
    /* overflow:visible; */
    display: block;
}

.dormInfo {
    background-color: #BDD2F0;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: right;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    /* height: 100%; */
    /* overflow: auto; */
}

.dormMapContainer {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

.infoContentWrapper {
    overflow: auto;
}
.infoContentWrapper h3 {
    text-align: center;
}

.mapImageContainer {
    display: flex;
    justify-content: center;
    /* width: 100%; */

}

.outlet {
    /* overflow: scroll; */
    height: 100%;
}

.scrollDirections {
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    margin: 1rem 0;
    color: #6bb7d8;
}

/* Tab Navigation */
ul.dormButtons {
    width: 100%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #6bb7d8;
    border-radius: 2rem;
    padding-left: 0px;
    overflow: scroll;

    @media (max-width: 768px) {
        width: 90%;
    }
}

ul.dormButtons li {
    width: 50%;
    height: 4.37rem;
    padding: 1.5rem 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
}

ul.dormButtons li:first-child {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

ul.dormButtons li:last-child {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

ul.dormButtons li:hover {
    background: #6bb7d8;
}

ul.dormButtons li.active {
    background: #6bb7d8;
}

p {
    font-size: 1rem;
    margin: 1rem 0;
}