.dormNav {
    overflow: hidden;
    flex-grow: 5;
}

img.floorplan {
    width: auto;
    /* height: 10rem; */
    float: left;
}

.dormMapContainer {
    display: flex;
    flex-direction: row;
    position: relative;
}

.outlet {
    overflow: scroll;
}

.popupContainer {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2rem;
    width: 40%;
    height: 40%;
    justify-content: right;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.popupRatings {
    font-size: 1rem;
}

.popupReviews {
    font-size: 1rem;
    margin: 1rem;
}

.symbol {
    margin: 1rem 0;
    width: 3rem;
}

/* Tab Navigation */
ul.dormButtons {
    width: 100%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #6bb7d8;
    border-radius: 2rem;
    padding-left: 0px;
    overflow: scroll;

    @media (max-width: 768px) {
        width: 90%;
    }
}

ul.dormButtons li {
    width: 50%;
    height: 4.37rem;
    padding: 1.5rem 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
}

ul.dormButtons li:first-child {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

ul.dormButtons li:last-child {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

ul.dormButtons li:hover {
    background: #6bb7d8;
}

ul.dormButtons li.active {
    background: #6bb7d8;
}