.homeBody {
  display: flex;
  flex-direction: column;
}

.homeContainer {
  display: flex;
  flex-flow: column;
  /* same as doing flex-direction and flex */
  align-items: center;
  height: 100vh;
}

.homeHeader {
  padding: 4rem 0rem 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeNav {
  margin: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 3;
  overflow: scroll;
}

.homePanel {
  border: 1px solid #6bb7d8;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.school {
  align-items: center;
  color: #003a53;
  background: #ffffff;
  border-radius: 1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  justify-content: center;
  height: 6rem;
  margin: 0 1rem;
  padding: 1rem 2rem;
  width: 10rem;
  text-decoration: none;
}

.paiLogo {
  width: 15%;
  margin: 0 auto;
  display: block;
}

.school.cmc {
  background: rgba(190, 40, 40, 0.833);
}

.school.mudd {
  background: rgba(255, 228, 53, 0.83);
}

.school.pitzer {
  background: rgba(233, 150, 33, 0.864);
}

.school.pomona {
  background: rgb(99, 153, 239);
}

.school.scripps {
  background: rgb(89, 146, 96);
}