
.header {
    margin: 2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-grow: 3;
    overflow: scroll;
}

.headerContainer {
    display: flex;
    flex-flow: row no-wrap; /* same as doing flex-direction and flex */
    align-items: center;
    justify-content: center;
}   

ul.header li {
    list-style: none;
    text-align: center;
    cursor: pointer;
}

ul.header li:hover {
    background: #6bb7d8;
  }

.logo {
    align-items: center;
    flex-grow: 0.5;
    margin: 2rem 1rem;
}

