.popUp {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: right;
    text-align: left;
}

.popupContainer {
    background-color: lightblue;
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto;
}

.popupRatings {
    font-size: 1rem;
}

.popupReviews {
    font-size: 1rem;
    margin: 1rem;
}

.symbol {
    margin: 1rem 0;
    width: 3rem;
}

.reviewForm-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reviewForm-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.reviewForm-form {
    display: flex;
    flex-direction: column;
}

.reviewForm-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.reviewForm-submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.reviewForm-submit-btn:hover {
    background-color: #0056b3;
}