* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }

 .App {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
  border:none;
 }

 .floorNav {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  padding: 10rem 0;
  margin: 0 0.5rem 0 0;
}

 /*Styling specific to our maps*/
 .map-container {
  position: absolute;
  height:600px;
  width:100%;
  left: 0;
}

.Tabs {
  background: #ffffff;
  border: 1px solid #6bb7d8;
  color: #003a53;
  display: flex;
  flex: 0 5 auto;
  justify-content: center;
  height: auto;
  margin: 0.5rem auto;
  min-height: 80%;
  padding: 1rem 1rem;
  width: 95%;
  @media (max-width: 769px) {
   padding: 2rem 0;
  }
 }

 /* Tab Content Styles */
.TabContent {
  font-size: 2rem;
  text-align: center;
  position: relative;
  overflow: scroll;
}